
nav .navbar-brand
{
    font-size: xx-large;
}

/* for collisions messages */
.error {
    color: red
}

/* textboxes */
.explain ul {
    list-style-type: none;
}

.boxed {
    border: 2px solid #000; /* Set border */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: inline-block;
    border-radius: var(--bs-border-radius);
}

