{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Hi!</h1>
        <h2>This is Sudoku Solver.</h2>
    </div>
    <p style="color: grey;">using</p>
    <div class="container d-flex justify-content-center align-items-center vh-50">
        <div class="row g-3 w-50">
            <div class="col-6 col-md-6">
                <img src="../static/htmlcssjs.png" alt="HTML CSS JS" class="img-fluid w-100 h-auto">
            </div>
            <div class="col-3 col-md-3">
                <img src="../static/python.png" alt="Python" class="img-fluid w-100 h-auto">
            </div>
            <div class="col-3 col-md-3">
                <img src="../static/flask.png" alt="Flask" class="img-fluid w-100 h-auto">
            </div>
        </div>
    </div>
    <hr>
    <div class="mb-3" style="text-align: justify;">
        <h2> The Process of making this, and what I've learnt</h2>
        <br>
        <p> A Sudoku Solver can't be that hard, right?</p>
        <p>Wrong.</p>
        <p>First, I knew I needed to get the back-end working. I began to think about 
            how to implement it - how would I, as a human player, solve a given Sudoku?
            If the grid is already fully filled - solved.
            Otherwise, I would first look out for the row/column/3x3 grid with the most filled
            numbers, and make a guess, then proceed from there. If I encounter a collision 
            (clash with other numbers) later on, I would delete my previous number and try again.</p>

        <p> Turns out this is a pretty well known algorithm for solving puzzles - (depth first search) 
            backtracking! And so I wrote a few lines of pseudocode on some scrap paper, and speedily 
            wrote some python code to realise the algorithm. Implementing the sudoku grid as a 
            9x9 numpy array, I tested my code with some sample inputs, and after a few rounds of testing,
            we were done with the back-end.</p>

        <p> The hard part was over... or so I thought!</p> 

        <p> Next was implementing the front-end. I used input boxes to represent each cell in the grid,
            and changed some of it's aesthetics to better capture a typical Sudoku 9x9 grid
            with it's 3x3 subgrids accentuated with a border feature. I implemented buttons
            that submitted the grid to the backend, solves the user-given Sudoku, and returns
            it back to the user. However, I was still left quite dissatisfied.</p>

        <p> Firstly, it was quite easy for a user to input an invalid grid - grids where there are colliding
            numbers which do not follow the rules of Sudoku, or even invalid symbols. To prevent this, I had to secure the grid from
            both client-side and server-side. (There could always be an errant user who likes their browser devtools)
            On the server side, if the grid was invalid, I had to flash
            a message back to the user. On the client side, however, things got a lot more tricky.
            I had wanted to notify the user whenever they inputted a colliding number.
            Because I did not want to store the current grid client-side (exposing it to vulnerability),
            I decided to attach an event listener for every input, feed the input back to the server, and depending
            on the response, flag the invalid number out to the user through the colour red. This meant 
            that I had to constantly update a grid on the back-end through http-requests, and check
            for collisions, and send the result back client-side. </p>

        <p> I thought I had finished my solver, and so I thought that having another tab for users 
            to have the option to just Play Sudoku was trivial, so I added that function in.
            Generate a valid (and solvable) sudoku randomly, have the user attempt it, and let them
            check the solution after they're done. Similarly, I had to secure both client-side and server-side. 
            Unfortunately at this point I had discovered that &lt; input type="number" &gt; 
            actually accepts the input 'e' for some reason, so further sanitizing was necessary.
            Also, when the solution was presented, it was not clear which numbers were part of the original
            puzzle, which were the user's inputs, and which were the values left unfilled. So I had to pass 
            three 9x9 arrays around. (Conditional styling with Jinja is... interesting)</p>

        <p> Just when I thought I had perfected it, I had someone else try the game and give me feedback.
            (Of course, many hours of debugging commenced. Always trust users to find weird edge cases.)
            They also proposed useful QOL improvements, which I had never thought of. Being able to
            use WASD controls to manipulate the cursor, the num scroll looping back to 1 after 9, and 
            the 'Clear All' button originated at this stage.</p>

        <p> After a few final polishes, here is v1.0. Looks rudimentary, I know, but I now have a newfound
            appreciation for how hard it must be to implement games - there's so much hidden logic that users'
            don't know that happens behind the scenes, and that every single small feature has had whole days poured into it
            testing and fixing bugs. Small things like the 'Solve' button being disabled when an invalid input is detected
            to having which numbers be bold, be red, be green or be black shall not be taken for granted.</p>

        <p> Nevertheless, this has been an immensely fruitful learning experience. 
            Here's to more fun projects in future, and thanks for reading :)</p>

        <p> --Alson, 2024</p>

        
    </div>

{% endblock %}

