<!-- Generates a Sudoku for player to solve -->
{% extends "layout.html" %}

{% block title %}
    Play Sudoku!
{% endblock %}

{% block main %}
    <div class="my-3">
        <h1>Play Sudoku!</h1>
    </div>

    <div class="my-3">
        <form action="/sudoku" method="post">
            <table class="table-hover" style="display: flex; align-items: center; justify-content: center;">
                {% for row in grid %}
                    <tr>
                        {% for cell in row %}
                            {% set row =  cell//10 %}
                            {% set col =  cell%10 %}
                            {% set val = attempt[row][col] %}
                            <td>
                                <input class="square {{ 'border-bottom' if row == 2 or row == 5 or row == 8 else '' }} {{ 'border-right' if col == 2 or col == 5 or col == 8 else '' }}"
                                name="{{cell}}" type="number" min="0" max="10" 
                                {% if val != 0 %} value="{{ val }}" 
                                    {% if val == original[row][col] %} style="font-weight: bold;" readonly {% endif %}
                                {% endif %} 
                                
                         
                                autocomplete="off">
                         
                            </td> 
                        {% endfor %}
                    </tr>
                {% endfor %}
                <!-- the presence of autocomplete="off" here is actually very interesting. It is so that, when users submit and go to solved.html, and then click the BACK button in the browser the browser will not load the user's previous inputs from its internal cache. In solver.html, instead of preventing this behaviour entirely, a flag "refresh" is used to conditionally load the user's previously inputted values or not, based on the consideration that the user might have wanted to change their input after viewing solved.html.-->
            </table>
            <br>
            <button id="checksoln" class="btn btn-primary me-1" type="submit">Check Solution</button>
            <a class="btn btn-primary me-1" name="Clear All" href="/sudoku?clear=True">Clear All</a>
            <a class="btn btn-primary me-1" name="New Game" href="/sudoku">New Game</a>
        </form>
    </div>
    <br>
    <div class="my-3 explain boxed border-bottom border-right">
        <h2>Rules of Sudoku:</h2>
        <ul style="padding: 0px 3px">
            <li>⦿  The Sudoku grid consists of 9 rows, 9 columns, and 9 3x3 subgrids.</li>
            <li>⦿  Each row, column and 3x3 subgrid must contain the digits 1 through 9 without repetition.</li>
            <li>⦿  Cells flagged <span style="color: red;">red</span> are repeated numbers - they must be changed!</li>
            <li>⦿  Some cells are pre-filled, and these numbers cannot be changed.</li>
            <li>⦿  Use logic and deduction to fill in the remaining cells correctly.</li>
        </ul>
        <br>
        <h2>Game Controls:</h2>
        <ul style="padding: 0px 3px">
            <li>⦿  <img src="../static/wasd.png"> or mouse controls to select cell</li>
            <li>⦿  Input numbers using numeric keys <img src="../static/19.png">, up/down arrow keys <img src="../static/updown.png">, or the up/down clickable arrows</li>
            <li>⦿  Right click <img src="../static/rightclick.png"> to <span style="color: rgb(39, 169, 250);">mark</span> cell</li>
        </ul>
    </div>

    <script src="{{ url_for('static', filename='flagcollisions.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            initFlag('/sudoku','checksoln');
        });
    </script>
    
{% endblock %}
